{% extends 'base.html.twig' %}

{% block title %}Sirio - Panier{% endblock %}

{% block body %}
    <div class="panier-etapes">
        <span class="line"></span>
        <div class="rond-container">
            <span class="ronds ronds-actif">1</span>
            <span class="ronds">2</span>
            <span class="ronds">3</span>
            <span class="ronds">4</span>
        </div>
    </div>

    <section class="panier-section">
        <div class="panier-container">
            <div class="panier-items">
                {% for element in dataPanier %}
                    <div class="items">
                        <div class="items-img">
                            <img class="items-img_img" src="{{ element.produit.image }}">
                        </div>
                        <div class="items-list">
                            <h1>{{ element.produit.name }}</h1>
                            <p class="description-produit">{{ element.produit.description }}</p>
                            <span></span>
                        </div>
                        <span class="items-price">{{ element.quantite * element.produit.price }} €</span>
                        <span class="items-qtty">
                            <a class="btn btn-qtty shadow-none" href="{{path("cart_add", {id: element.produit.id})}}">+</a>
                                <span class="qtty">{{ element.quantite }}</span>
                            <a class="btn btn-qtty shadow-none" href="{{path("cart_remove", {id: element.produit.id})}}">-</a>
                        </span>
                        <a href="{{path("cart_delete", {id: element.produit.id})}}" class="btn btn-danger">
                            <i class="bi bi-cart-x"></i>
                        </a>
                    </div>
                {% else %}
                        <td colspan="5" class="text-center">Votre panier est vide</td>
                {% endfor %}
            </div>
            <div class="panier-recap">
                <div class="total-price">
                    <span class="panier-recap-total">Total</span>
                    <span class="panier-recap-price">{{ total }} €</span>
                </div>
                <a href="{{path("cart_adresse")}}" class="btn btn-primary btn-valider-panier">Valider mon panier</a>
            </div>
        </div>
    </section>
{% endblock %}