{% extends 'base.html.twig' %}

{% block body %}
<section class="section__hero">
    <div class="hero-container">
        <div class="row justify-content-xxl-end flex-wrap-reverse p-5">
            <div class="col-xxl-2">
                <img src="{{ asset('images/exterieur_chaises_1.jpg') }}" class="card-img-top" alt="..."><br>
                <img src="{{ asset('images/exterieur_chaises_2.jpg') }}" class="card-img-top" alt="...">
            </div>
            <div class="col-xxl-6">
                <img src="{{ produit.image }}" class="card-img-top" alt="...">
            </div>
            <div class="col-xxl-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.name }}</h5>
                        <h4 class="card-prix">{{ produit.price }}€</h4>
                        <p>{{ produit.description }}<p/>
                        <p class="card-text">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            ({{ produit.rating }})
                        </p>
                        <hr>
                        <p>10 en stock</p>
                        <hr>
                        <a href="{{path("cart_add", {id: produit.id})}}" class="add-panier">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
