{% extends 'base.html.twig' %}

{% block body %}
<section class="hero">
    <div class="hero__container">
        <div type="text" id="searchbox" class="ais-SearchBox"></div>
{#        <div class="ais-InstantSearch">
            <div id="hits"></div>
            <div id="pagination"></div>
        </div>#}
        <div class="hero-text-card">
            {% for p in produits %}
                <div class="hero__card">
                    <a href="/produits/{{ p.id }}" class="card-href">
                        <div class="card-image">
                            <img src="{{ p.image }}">
                        </div>
                        <div class="card--body">
                            <h5 class="card-title">{{ p.name }}</h5>
                            <h4 class="card-prix">{{ p.price }}€</h4>
                            <p class="card-text">
                                {% for i in 1..p.rating  %}
                                    <span class="fa fa-star checked"></span>
                                {% endfor %}
                                ({{ p.rating }})
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
