<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {{ name }} - Sirio{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400;500;600&family=IBM+Plex+Sans:wght@100;300;400&family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/reset-min.css" integrity="sha256-t2ATOGCtAIZNnzER679jwcFcKYfLlw01gli6F6oszk8=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/instantsearch.css@7/themes/satellite-min.css"/>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <div class="container-nav">
            <nav id="nav" class="navbar__sirio">
                <a href="{{ path('accueil') }}">
                    <img src="{{ asset('images/sirio_logo1.png') }}"/>
                </a>
                <div type="text" id="searchbox" class="ais-SearchBox"></div>
                <div class="navbar__items">
                    <ul>
                        <li>
                            {% if (app.user) %}
                                <a href="#"><i class="fa-solid fa-user"></i> {{ app.user.email }}</a>
                            {% else %}
                                <a href="{{ path('login') }}">Se connecter</a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="#">Panier (2)</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </head>
    <body>
    <div class="ariane">
        <h1>Sirio ><span> {{ name }}</span></h1>
    </div>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>

            $(document).scroll(function () {
                var y = $(this).scrollTop();
                console.log("test");

                if (y > 10) {

                    $("#nav").addClass(
                        "navbar-fixed");

                }
                else {
                    $("#nav").removeClass(
                        "navbar-fixed");
                }
            });


            //profil div
            var divs = ["commande_container", "info-container", "mdp-container", "cartes-container"];
            var visibleDivId = null;

            function divVisibility(divId) {
                if (visibleDivId === divId) {
                    visibleDivId = null;
                } else {
                    visibleDivId = divId;
                }
                hideNonVisibleDivs();
            }

            function hideNonVisibleDivs() {
                var i, divId, div;
                for (i = 0; i < divs.length; i++) {
                    divId = divs[i];
                    div = document.getElementById(divId);
                    if (visibleDivId === divId) {
                        div.style.display = "block";
                    } else {
                        div.style.display = "none";
                    }
                }
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
        <script src="{{ asset('search.js') }}"></script>
    </body>
    <footer>
        <div class="footer__elements">
            <a href="#">Sirio - Copyright 2022</a>
            <a href="#">Mention Légales</a>
            <a href="#">Contact</a>
        </div>
        <a class="sdv" href="#">Sup de vinci</a>
    </footer>
</html>
